body {
    padding: 0;
    margin: 0;
    outline: 0;
    box-sizing: border-box;
}

footer {
    background-color: #4fc2bb;
    width: 100%;
    height: 200px;
}

.centerized {
    display: flex;
    justify-content: center;
    align-items: center;
}


.l1 {
    height: 5px;
}

.l2 {
    height: 30px;
}

.line {
    background-image: linear-gradient(to right, #387cad, #54dabf);
    width: 100%;
    overflow: hidden;
}

.mainMenu {
    background-color: #FFF;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
}

.mainMenu a {
    text-decoration: none;
    font-size: .7em;
    font-family: Arial, Helvetica, sans-serif;
    color: #393535;
}

.firstHalf {
    display: flex;
    flex: 1;
    justify-content: space-around;
    align-items: center;
}

.secondHalf {
    display: flex;
    flex: 1;
    justify-content: space-around;
    align-items: center;
}

#search {
    color: #fffeff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.inpt {
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    height: 20px;
    padding: 0 15px;
    font-size: .7em;
}

#copyright {
    color: #fffeff;
    text-align: center;
    width: 100%;
}

#socialMedia {
    color: #fffeff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    float: left;
    height: 50%;
}

.login {
    width: 100%;
    height: 350px;
    background-image: url('coding.jpg');
    overflow: hidden;
}
.login form {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.login form button {
    margin-top: 20px;
    background-image: linear-gradient(to right, #387cad, #54dabf);
    border: 0;
    width: 90%;
    height: 30px;
    color: #FFF;
    font-size: 20px;
}

.login input {
    width: 85%;
    border: 0;
    border-bottom: 1px solid #ccc;
    border-bottom-width: 1.7px;
    border-radius: 0px;
}

#login-block {
    background-color: #FFFF;
    width: 30%;
    margin: 5% 35%;
    border-radius: 10px;
}

#login-block h1{
    font-size: 15px;
    text-align: center;
    color: #FFF;
}

#loginBar {
    padding: 0;
    background-color: #3d88b0;
    width: 100%;
    height: 40px;

    font-family: Arial, Helvetica, sans-serif;
    line-height: 40px;
    font-size: 25px;
    color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
}

#remember a {
    text-decoration: none;
    color: #3d88b0; 
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

#topSeachBar {
    display: inline;
    flex-direction: row;
    justify-content: space-between;
}

#tsb1 {
    float: left;
    height: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#tsb1 ul {
    list-style: none;
}

#tsb1 li {
    display: inline;
}

#tsb2 {
    float: right;
}

#tsb2 form {
    display: inline;
}

#tsb2 input {
    vertical-align: super;
}

#tsb2 ::placeholder {
    color: #FFF;
}

#topSearchBar input {
    background: transparent;
    border: 0;
    border-bottom: 1px solid #ccc;
    border-bottom-width: 1.7px;
    border-radius: 0px;
}

#socialMedia ul {
    list-style: none;
}

#socialMedia li {
    display: inline;
}