body {
    padding: 0;
    margin: 0;
    outline: 0;
    box-sizing: border-box;
    background-color: #e6e6e6;
    font-family: 'Roboto', sans-serif, Arial;
}

footer {
    background-color: #4fc2bb;
    width: 100%;
    height: 200px;
}

.centerized {
    display: flex;
    justify-content: center;
    align-items: center;
}


.l1 {
    height: 5px;
}

.l2 {
    height: 30px;
}

.l3 {
    background-image: none !important;
    background-color: #9f9f9f;
    height: 3px;
    width: 23% !important;
    margin-left: 39%;
    margin-bottom: 40px;
}
.line {
    background-image: linear-gradient(to right, #387cad, #54dabf);
    width: 100%;
    overflow: hidden;
}

.mainMenu {
    background-color: #FFF;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
}

.mainMenu a {
    text-decoration: none;
    font-size: .7em;
    font-family: 'Roboto', sans-serif, Arial;
    color: #393535;
}

.firstHalf {
    display: flex;
    flex: 1;
    justify-content: space-around;
    align-items: center;
}

.secondHalf {
    display: flex;
    flex: 1;
    justify-content: space-around;
    align-items: center;
}

#search {
    color: #fffeff;
    font-family: 'Roboto', sans-serif, Arial;
    font-size: 20px;
}

.inpt {
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    height: 20px;
    font-size: .7em;
}

#copyright {
    color: #fffeff;
    text-align: center;
    width: 100%;
}

#socialMedia {
    color: #fffeff;
    font-family: 'Roboto', sans-serif, Arial;
    font-size: 20px;
    float: left;
    height: 50%;
}

#topSeachBar {
    display: inline;
    flex-direction: row;
    justify-content: space-between;
}

#tsb1 {
    float: left;
    height: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#tsb1 ul {
    list-style: none;
}

#tsb1 li {
    display: inline;
}

#tsb2 {
    float: right;
}

#tsb2 form {
    display: inline;
}

#tsb2 input {
    vertical-align: super;
}

#tsb2 ::placeholder {
    color: #FFF;
}

#topSearchBar input {
    background: transparent;
    border: 0;
    border-bottom: 1px solid #ccc;
    border-bottom-width: 1.7px;
    border-radius: 0px;
}

#socialMedia ul {
    list-style: none;
}

#socialMedia li {
    display: inline;
}

#homepage {
    background-image: url(slidebackground.png);
    width: 100%;
    height: 360px;
}

#block {
    float: left;
    margin-top: 85px;
    margin-left: 20%;
    height: 100%;
    width: 200px;
    text-align: center;
}

#block p {
    font-size: 30px;
}

#block button {
    background-color: #184262;
    border: none;
    color: #FFF;
    width: 100%;
    height: 30px;
}

#produtosavenda {
    margin-top: 43px;
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
}

#produtosavenda p {
    border-bottom: 2px linear-gradient(to right, #387cad, #54dabf);
    font-weight: bold;
    color: #3f93b3;
    font-size: 25px;
}

.items {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.item {
    background-color: #FFF;
    width: 20%;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.bar {
    padding: 0;
    background-color: #3d88b0;
    width: 100%;
    height: 40px;

    font-family: 'Roboto', sans-serif, Arial;
    line-height: 40px;
    font-size: 22px;
    color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sentence {
    color: #989898;
    padding: 10px;
}

.s1 {
    margin-top: 5px;
    font-size: 15px;
    padding-left: 45px;
    padding-top: 0px;
}

.login {
    margin-top: 5%;
    width: 100%;
    height: 800px;
    background-image: url('ic\ lindo.jpg');
    overflow: hidden;
}

#login-block {
    background-color: #FFFF;
    width: 30%;
    margin: 5% 35%;
    border-radius: 10px;
}

#login-block h1{
    font-size: 15px;
    text-align: center;
    color: #FFF;
}

#loginBar {
    padding: 0;
    background-color: #3d88b0;
    width: 100%;
    height: 40px;

    font-family: 'Roboto', sans-serif, Arial;
    line-height: 40px;
    font-size: 25px;
    color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login form {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.login form button {
    margin-top: 20px;
    background-image: linear-gradient(to right, #387cad, #54dabf);
    border: 0;
    width: 90%;
    height: 30px;
    color: #FFF;
    font-size: 20px;
}

.login input {
    width: 85%;
    border: 0;
    border-bottom: 1px solid #ccc;
    border-bottom-width: 1.7px;
    border-radius: 0px;
}

#nonSolved {
    padding-top: 20px;
    font-size: 22px;
    font-weight: bold;
    color: #4194b4;
    line-height: 40px;
    text-align: center;
}

#name, #msg {
    display: inline;
    flex-direction: row;
}

#name, #msg p {
    color: #989898;
    font-size: 15px;
}

#msg textarea {
    border: none;
    border-bottom: 2px solid #ddd;
} 